
body {
	background: rgb(224,224,224);
	font-family: sans-serif;
}

input {
	width: 100%;
}

.TFL-Table {
	width: 100%;
	table-layout: fixed;
	font-size: 14px;
}

.TFL-Row {

}

.TFL-Column {
	background: white;
	padding: 5px;
}

.TFL-Column-Header {
	font-size: 16px;
	padding: 5px;
	padding-left: 0px;
}
